/**
 * Root
 */

.site {
	padding: $gutter-site;
}

/**
 * Header
 */

.site-header {
	background-color: $color-branding;
	color: $color-header-links-and-icons-and-search-input;
	position: relative;
	z-index: 2;

	/* Logo */
	.site-branding {
		position: relative;
		z-index: 1;
		text-align: center;

		.site-title {
			margin: 0;
			padding: 0;
			display: inline-block;
			vertical-align: middle;

			a {
				color: inherit;
				text-decoration: none;
				display: block;

				.screen-reader-text {
					line-height: $height-site-header-sm;
				}

				/* logo */
				&::before {
					display: inline-block;
					vertical-align: middle;
					height: $height-site-header-sm;
					width: 43px; /* TODO: make variable */
					background: url(../../images/logo.svg) 50%/contain no-repeat;
					content: "";
				}
			}
		}
	}

	/* Buttons */
	.menu-toggle,
	.search-toggle {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		height: $height-site-header-sm;
		width: $height-site-header-sm;
		text-align: center;
		color: inherit;
		border: 0;
		background-color: inherit;
		display: block;
		cursor: pointer;

		.icon {
			margin: 0 auto;
			display: block;
		}

		.icon--close {
			display: none;
		}

		&:hover,
		&:focus,
		&.is-active {
			background-color: $color-search-and-small-screen-navigation;
		}

		&.is-active {

			.icon--close {
				display: block;
			}

			.icon--open {
				display: none;
			}
		}
	}

	.search-toggle {
		left: auto;
		right: 0;
	}

	.is-collapsable {
		will-change: height;
		-webkit-transform: translateZ(0); /* TODO: remove if using autoprefixer */
		transform: translateZ(0); /* improves animation performance */
		-webkit-backface-visibility: hidden;; /* TODO: remove if using autoprefixer */
		backface-visibility: hidden;
	}

	/* Navigation */
	.main-navigation {
		display: none;
		background-color: $color-search-and-small-screen-navigation;

		ul,
		ul > li,
		ul > li > a {
			display: block;
			margin: 0;
			padding: 0;
		}

		/**
		 * defined ul.menu and .menu > ul so that navigation is formatted
		 * regardless if menu is assigned to Primary Display Location or not
		 */
		ul.menu,
		.menu > ul {
			list-style: none;
			font-size: $font-size-navigation;

			li {

				> a {
					color: inherit;
					line-height: $height-site-header-sm;
					padding: 0 18px; /* TODO: make l/r padding variable */

					&:hover,
					&:focus {
						color: $color-navigation-highlight;
					}
				}

				&:not(:first-child) {

					> a {
						border-top: 1px solid #5488c8; /* TODO: make color variable */
					}
				}

				/**
				* defined .current-menu-item and .current_page_item
				* so that navigation is formatted regardless if
				* menu is assigned to Primary Display Location or not
				*/
				&.current-menu-item,
				&.current_page_item {

					> a {
						color: $color-navigation-highlight;
					}
				}
			}
		}
	}

	/* Search Form */
	.search-form {
		display: none;
		background-color: $color-search-and-small-screen-navigation;
		padding: $gutter-grid;

		> form {
			position: relative;

			input,
			button {
				border: 0;
				height: $height-search-input-sm;
				font-size: $font-size-forms;
				color: $color-content-and-in-form-search-icon;
			}

			/* search input */
			> label {
				position: relative;
				z-index: 1;
				display: block;
				width: 100%;

				.search-field {
					background-color: $color-header-links-and-icons-and-search-input;
					width: inherit;
					padding: 0 14px; /* TODO: make padding variable */

					/* adjust right padding for button will overlay */
					padding-right: -webkit-calc(14px + #{$height-search-input-sm}); /* TODO: remove if using autoprefixer */
					padding-right: calc(14px + #{$height-search-input-sm});

					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						color: $color-meta-and-info-placeholder-text;
					}

					&::-moz-placeholder { /* Firefox 19+ */
						color: $color-meta-and-info-placeholder-text;
					}

					&:-ms-input-placeholder { /* IE 10+ */
						color: $color-meta-and-info-placeholder-text;
					}

					&:-moz-placeholder { /* Firefox 18- */
						color: $color-meta-and-info-placeholder-text;
					}
				}
			}

			/* search button */
			.search-submit {
				background-color: transparent;
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
				width: $height-search-input-sm;
				display: block;
				cursor: pointer;
			}
		}
	}
}

/**
 * Content
 */

.site-main {
	position: relative;
	z-index: 1;
	padding: $gutter-grid;
	line-height: 1.6;

	a {
		color: $color-links;
	}

	.entry-title {
		font-size: $font-size-headings;
		font-weight: 400;
		line-height: 1.2;
		margin: 0;
	}

	.entry-meta {
		color: $color-meta-and-info-placeholder-text;

		> p {
			margin-bottom: 0;
		}
	}

	.entry-meta ~ .entry-title {
		margin: 0;
	}

	.hentry:not(:first-of-type) {
		margin-top: $gutter-grid;
	}

	.read-more {

		> span,
		&::after {
			display: inline-block;
			vertical-align: middle;
		}

		/* chevron right */
		&::after {
			height: 13px;
			width: 13px;
			content: "";
			background: url(../../images/chevron-right.svg) 100% 50%/contain no-repeat;
		}
	}
}

/**
 * Media Queries
 */

/* Style adjustments for viewports that meet the condition */

/* @media only screen and (min-width: 35em) {} */

/* Style adjustments for high resolution devices */

/* @media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {} */
